@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&family=Lato:wght@300;400;700&display=swap');

body{
    background: var(--background);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: start center;
}

.section, .group, .group-courses, .section__information, .cv-container{
    display: flex;
    flex-direction: column;
}


.cv-container{
    padding: 30px 10px;
    gap: 60px;
    max-width: 400px;
}

h3{
    font-size: 1.8rem;
}

h4,h4>b{
    font-size: 1.6rem;
}

h4{
    font-weight: 400;
}

h1{
    font-family: Jaldi;
    font-style: normal;
    font-weight: 700;
    font-size: 5.5rem;
    line-height: 4.2rem;

    width: 100%;
}

.title__name{
    overflow: hidden;
}

h2{
    font-size: 2.6rem;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.6rem;
    width: 100%;
}

p b{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.6rem;
    width: 100%;
}

.about-me__text{
    padding-top: 30px;
}

.button__back--box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}

.button__back{
    width: 30px;
    height: 30px;
}

.separator{
    width: 120px;
    height: 5px;
    background: var(--background-items);
    border-radius: 3px;
}

.section__title{
    background-image: var(--primary-button--normal);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: auto;
    height: 32px;
    border-radius: 15px;
    
    font-family: Jaldi;
    font-size: 28px;
    font-weight: 700;
    line-height: 22px;
}
.section{
    width: 100%;
}


.group{
    gap: 4px;
}

.group-courses{
    gap: 10px;
}


.section{
    gap: 20px;
}

.section__information{
    gap: 40px;
}

.course__item>img{
    width: var(--icon-course);
    height: var(--icon-course);
}

.course__item, .section__title, .contact-me__item, .experience__item{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.contact-me__item{
    text-decoration: none;
    cursor: pointer;
    color: var(--not-black);
    width: 100%;
    max-height: 56px;
    padding: 12px;

    border-radius: 12px;
    border: 1px solid var(--border-card-color);
    background: rgba(255, 255, 255, 0.30);
}

.contact-me__item>img{
    width: 30px;
    height: 30px;
}


.contact-me__item:hover{
    background: var(--background-items);
}

.experience__item{
    text-decoration: none;
    cursor: pointer;
    color: var(--not-black);
    width: 100%;
    padding: 12px;

    border-radius: 12px;
    border: 1px solid var(--border-card-color);
    background: rgba(255, 255, 255, 0.30);
}


h4.skills__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.card__courses{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    padding:10px;
    background: var(--background-items);
    border-radius: 25px;

}

.course__item{
    background: var(--background);
    height: 45px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 10px;
    text-decoration: none;
    color: var(--not-black);
}

.course__item:hover{
    background: var(--background-items);
    padding-left: 10px;
}

/* RESPONSIVE DESIGN */

@media (min-width: 1024px) {

    body{
        place-content: center;
        height: 100vh;
    }
    .cv-container{
        flex-direction: row;
        gap: 80px;
        align-items: center;
        max-width: 865px;
        height: 600px;
        overflow: hidden;
        padding: 0;
    }

    .separator{
        height: 120px;
        width: 5px;
    }


    .section__information{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 5px 0 0;
        width: 360px;
        height: 600px;
        overflow-y: scroll;
    }

    .section__about-me{
        max-width: 350px;
    }

    h1{
        font-size: 7.0rem;
        line-height: 5.0rem;
    }
    
    h2{
        font-size: 3.2rem;
    }
    
    p{
        font-size: 2.2rem;
        font-weight: 300;
    }

    p b{
        font-size: 2.2rem;
        font-weight: 700;

    }
    

/* SCROLLBAR */

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #e4e4e4;
    border-radius: 5px;
  }
   
  ::-webkit-scrollbar-thumb {
    background:var(--primary-button--normal); 
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-button--hover); 
  }

/* END SCROLLBAR */

}


/* END RESPONSIVE DESIGN */

