body{
    background: radial-gradient(100% 100% at 100% 100%, rgba(90, 150, 243, 0.08) 3.86%, rgba(163, 106, 221, 0.08) 53.74%, rgba(255, 255, 255, 0.04) 83.8%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(25.25% 94.45% at 99.12% 100.82%, rgba(0, 127, 182, 0.10) 0%, rgba(107, 25, 241, 0.10) 34.73%, rgba(255, 255, 255, 0.05) 61.89%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(8.97% 37.52% at 3.66% 3.11%, rgba(104, 12, 254, 0.10) 0%, rgba(251, 17, 200, 0.10) 34.73%, rgba(255, 255, 255, 0.05) 61.89%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(35.36% 88.78% at 5.88% 5.79%, rgba(11, 34, 238, 0.08) 0%, rgba(111, 55, 230, 0.08) 34.73%, rgba(255, 255, 255, 0.04) 61.89%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(89% 141.42% at 0% 0%, rgba(90, 150, 243, 0.10) 0%, rgba(163, 106, 221, 0.10) 36.22%, rgba(255, 255, 255, 0.05) 72.11%, rgba(255, 255, 255, 0.00) 100%), #000;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding-top: 50px;
    
}

h2,h3{
    font-family: Jaldi;
    font-weight: normal;
}

h2{
    font-size: 7.0rem;
    line-height: 5.2rem;
    padding-bottom: 10px;
}

h3{
    font-size: 4.2rem;
    line-height: 3.5rem;
    padding-bottom: 5px;

}

h6,p{
    font-family: Lato;
    font-style: normal;
    
}

p{  
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 400;
}

h6{
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 300;
}

.container, .main-section, .front-section, .designs-section__description{
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%;
    align-items: flex-start;
}

.container{
    gap: 90px;
    padding: 1rem;

}

.main-section{
    gap: 32px;
}

.main-section__text{
    width: 100%;
    max-width: 720px;
    color: #E7E7E7;
}

.drawing-section{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    width: 100%;
    grid-gap: 10px;

}

.card{
    width: 100%;
}


.card img{
    border-radius: 15px;
    width: 100%;
}

.designs-section__picture{
    width: 200px;
    height: auto;
    border-radius: 15px;
}


.designs-section__description{
    width: 100%;
    gap: 10px;
}


.section__links{
    display: flex;
    flex-direction: column;
    align-content: start;
    flex-wrap: nowrap;
    align-items: start;
    padding-bottom: 100px;
    gap: 15px;
    width: 100%;
}

.section__links a{
    width: 100%;
}

.secundary-button{
    background: var(--secundary-button--normal);
}

.secundary-button:hover{
    background: var(--secundary-button--hover);
}

a{
    text-decoration: none;
}

.button{
    width: 220px;
    height: 50px !important;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: grid;
    place-content: center;   
}

.button>h4{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}


.read-it{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h4{
    font-size: 1.8rem;
    color: var(--not-black);
}

.buttons{
    display: flex;
    align-items: flex-start;
    gap: 10px;

}

.button{
    width: fit-content;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: grid;
    place-content: center;   
    padding: 0px 15px;
}

.button--social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    height: 40px;

    background: #333333;
    border-radius: 10px;
}

.primary-button{
    background: var(--primary-button--normal);
    
}

.primary-button:hover{
    background: var(--primary-button--hover);
}

.button--social-media:hover{
    background: var(--secundary-button--hover);
}

a{
    text-decoration: none;
}


.button__text{
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
}





@media (max-width: 719px){
        
    h2{
        font-size: 6.0rem;
        line-height: 4.2rem;
        padding-bottom: 10px;
    }

    .drawing-section{
        width: 100%;
        max-width: 720px;
    }

    .section__links{
        display: column;
        align-content: center;
        flex-wrap: nowrap;
        align-items: start;
        padding-bottom: 100px;
        gap: 10px;
        width: 100%;
    }

    .designs-section__picture{
        display: none;
    }

    .buttons h4{
        font-size: 1.4rem;
    }

    .front-section{
        gap: 80px;
    }
}

@media (min-width: 720px){

    .designs-section__description{
        gap: 20px;
    }

    
}
