body{
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px;
    background-image: var(--background-gradient);
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding-top: 50px;
    overflow: scroll;
    
}

h2,h3{
    font-family: Jaldi;
    font-weight: normal;
}

h2{
    font-size: 7.0rem;
    line-height: 5.2rem;
    padding-bottom: 10px;
}

h3{
    font-size: 4.2rem;
    line-height: 3.5rem;
    padding-bottom: 5px;

}

h6,p{
    font-family: Lato;
    font-style: normal;
    
}

p{  
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 400;
}

h6{
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 300;
}

.container, .main-section, .front-section, .designs-section__description{
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%;
    align-items: flex-start;
}

.container{
    gap: 90px;
    padding: 1rem;

}

.main-section{
    gap: 32px;
}

.main-section__text{
    width: 100%;
    max-width: 720px;
    color: var(--not-black);
}

.drawing-section{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    width: 100%;
    grid-gap: 10px;

}

.card{
    width: 100%;
}


.card img{
    border-radius: 15px;
    width: 100%;
}

.designs-section__picture{
    width: 200px;
    height: auto;
    border-radius: 15px;
}


.designs-section__description{
    width: 100%;
    gap: 10px;
}


.section__links{
    display: flex;
    flex-direction: column;
    align-content: start;
    flex-wrap: nowrap;
    align-items: start;
    padding-bottom: 100px;
    gap: 15px;
    width: 100%;
}

.section__links a{
    width: 100%;
}

.secundary-button{
    background: var(--secundary-button--normal);
}

.secundary-button:hover{
    background: var(--secundary-button--hover);
}

a{
    text-decoration: none;
}

.button{
    width: 220px;
    height: 50px !important;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: grid;
    place-content: center;   
}

.button>h4{
    color: var(--button-text);
    font-size: 1.8rem;
    text-decoration: none;
}

h4{
    font-size: 1.8rem;
    color: var(--not-black);
}

.read-it{
    display: flex;
    height: 40px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid #A36ADD;
    background: #202020;
    text-decoration: none;
}

.read-it:hover{
    background-color: #A36ADD;
}

.read-it>h4{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


nav, .navbar-container, .navbar-items{
    display: flex;
}

.navbar-container{
    width: 100%;
    justify-content: center;
}

nav{
    width: 100%;
    max-width: 960px;
    justify-content: space-between;
}

.navbar-items{
    align-items: center;
    gap: 56px;
}

.navbar-items a{
    color: var(--navbar-link-color);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.buttons{
    display: flex;
    align-items: flex-start;
    gap: 10px;

}

.button{
    width: fit-content;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: grid;
    place-content: center;   
    padding: 0px 15px;
}

.button--social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    height: 40px;

    background: #333333;
    border-radius: 10px;
}

.primary-button{
    background: var(--primary-button--normal);
    
}

.primary-button:hover{
    background: var(--primary-button--hover);
}

.button--social-media:hover{
    background: var(--secundary-button--hover);
}

a{
    text-decoration: none;
}


.button__text{
    color: var(--button-text);
    font-size: 1.8rem;
    font-weight: 400;
}

.button--social-media .button__text{
    color: #F8F8F8;
}





@media (max-width: 719px){
        
    h2{
        font-size: 6.0rem;
        line-height: 4.2rem;
        padding-bottom: 10px;
    }

    .drawing-section{
        width: 100%;
        max-width: 720px;
    }

    .section__links{
        display: column;
        align-content: center;
        flex-wrap: nowrap;
        align-items: start;
        padding-bottom: 100px;
        gap: 10px;
        width: 100%;
    }

    .designs-section__picture{
        display: none;
    }

    .buttons h4{
        font-size: 1.4rem;
    }

    .front-section{
        gap: 80px;
    }
}

@media (min-width: 720px){

    .designs-section__description{
        gap: 20px;
    }

    
}
