body{
    background: var(--background);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding-top: 50px;
    
}

h2,h3{
    font-family: Jaldi;
    font-weight: normal;
}

h2{
    font-size: 7.0rem;
    line-height: 5.2rem;
    padding-bottom: 10px;
}

h3{
    font-size: 4.2rem;
    line-height: 3.5rem;
    padding-bottom: 5px;

}

h6,p{
    font-family: Lato;
    font-style: normal;
    
}

p{  
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 400;
}

h6{
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 300;
}

.container, .main-section, .front-section, .designs-section__description, .card{
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%;
    align-items: flex-start;
}

.container{
    gap: 90px;
    padding: 1rem;

}

.main-section{
    gap: 15px;
}

.main-section__text{
    width: 100%;
    max-width: 720px;
}

.front-section{
    gap: 60px;

}

.card{
    display: flex;
    flex-direction: row;
    width: 720px;
    gap: 20px;
    padding: 10px;
}

.designs-section__picture{
    width: 200px;
    height: auto;
    border-radius: 15px;
}


.designs-section__description{
    width: 100%;
    gap: 10px;
}


.section__links{
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    align-items: start;
    padding-bottom: 100px;
    gap: 10px;
    width: 100%;
}

.section__links a{
    width: 100%;
}

.secundary-button{
    background: var(--secundary-button--normal);
}

.secundary-button:hover{
    background: var(--secundary-button--hover);
}

a{
    text-decoration: none;
}

.button{
    width: 220px;
    height: 50px !important;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: grid;
    place-content: center;   
}

.button>h4{
    color: var(--button-text);
    font-size: 1.8rem;
    text-decoration: none;
}


.read-it{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h4{
    font-size: 1.8rem;
    color: var(--not-black);
}

.buttons{
    display: flex;
    align-items: flex-start;
    gap: 10px;

}

.button{
    width: fit-content;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: grid;
    place-content: center;   
    padding: 0px 15px;
}

.primary-button{
    background: var(--primary-button--normal);
    
}

.primary-button:hover{
    background: var(--primary-button--hover);
}

.secundary-button{
    background: var(--secundary-button--normal);
}

.secundary-button:hover{
    background: var(--secundary-button--hover);
}

a{
    text-decoration: none;
}


.button__text{
    color: var(--button-text);
    font-size: 1.8rem;
    font-weight: 400;
}





@media (max-width: 719px){
        
    h2{
        font-size: 6.0rem;
        line-height: 4.2rem;
        padding-bottom: 10px;
    }

    .section__links{
        display: column;
        align-content: center;
        flex-wrap: nowrap;
        align-items: start;
        padding-bottom: 100px;
        gap: 10px;
        width: 100%;
    }
    .card{
        flex-direction: column;
    }

    .designs-section__picture{
        display: none;
    }
    .section__links{
        flex-direction: column-reverse;
    }

    .buttons{
        flex-direction: column;
    }

    .front-section{
        gap: 80px;
    }
}

@media (min-width: 720px){
    .card{
        background: #F8F8F8;
        box-shadow: 0px 4px 25px rgba(163, 106, 221, 0.25);
        border-radius: 20px;
    }

    .designs-section__description{
        gap: 20px;
    }
}
