
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&family=Lato:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');


:root{
    --background: #ffffff;
    --background-gradient: radial-gradient(30% 60% at 5% 10%, rgba(163, 106, 221, 0.3) 0%, rgba(255, 255, 255, 0) 60%), radial-gradient(60% 100% at 100% 90%, rgba(90, 150, 243, 0.3) 0%, rgba(255, 255, 255, 0) 70%), radial-gradient(80% 120% at 10% 20%, #ffffff 0%, #f8f8f8 100%);
    --background-items: linear-gradient(274.43deg, rgba(163, 106, 221, 0.1) 0%, rgba(90, 150, 243, 0.1) 100%);
    --primary-button--normal: linear-gradient(274.43deg, #A36ADD 0%, #5A96F3 100%);
    --primary-button--hover: #5A96F3;
    --secundary-button--normal:#353535;
    --secundary-button--hover:#202020;
    --not-black: #202020;
    --navbar-link-color: #202020;
    --button-text: #000000;
    --border-card-color: #A36ADD26;
    font-family:'Lato', sans-serif;

   /* CV PAGE */
   --icon-course: 30px;
    /* END CV PAGE */
}

[data-theme="dark"]{
    --background: #0d0d0d;
    --background-gradient: radial-gradient(30% 60% at 5% 10%, #00134BFF 0%, #2F004AA8 43%, #00000000 100%),radial-gradient(60% 100% at 100% 90%, #1B103BFF 0%, #2B103BBA 22%, #06112F00 100%),radial-gradient(80% 120% at 10% 20%, #06112FFF 0%, #000000FF 100%);
    --navbar-link-color: #ffffff;
    --not-black: #e7e7e7;
    --button-text: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 64.5%;
}

body{
    color: var(--not-black);
    background: var(--background);
}

.main-title__color{
    background-image: var(--primary-button--normal);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.button-icon{
    background: none;
    border: none;
    cursor: pointer;
    display: grid;
    place-content: center;
    padding: 4px;
    color: var(--navbar-link-color);
    width: 48px;
}

.button-icon svg{
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.page-container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.navbar-container{
    position: sticky;
    top: 0;
    background: transparent;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar-container.scrolled{
    background-color: rgba(255, 255, 255, 0.7);
}

[data-theme="dark"] .navbar-container.scrolled{
    background-color: rgba(13, 13, 13, 0.7);
}

nav,
.navbar-container,
.navbar-items{
    display: flex;
}

.navbar-container{
    width: 100%;
    justify-content: center;
}

nav{
    width: 100%;
    max-width: 960px;
    justify-content: space-between;
}

.navbar-items{
    align-items: center;
    gap: 56px;
}

.navbar-items a{
    color: var(--navbar-link-color);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

@media (max-width: 480px){
    nav{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .navbar-items{
        gap: 16px;
    }
}

