body{
    background: var(--Background-Dark, radial-gradient(122% 140.87% at 100% 99.21%, rgba(90, 150, 243, 0.08) 3.86%, rgba(163, 106, 221, 0.08) 53.74%, rgba(255, 255, 255, 0.04) 83.8%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(25.25% 94.45% at 99.12% 100.82%, rgba(0, 127, 182, 0.10) 0%, rgba(107, 25, 241, 0.10) 34.73%, rgba(255, 255, 255, 0.05) 61.89%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(8.97% 37.52% at 3.66% 3.11%, rgba(104, 12, 254, 0.10) 0%, rgba(251, 17, 200, 0.10) 34.73%, rgba(255, 255, 255, 0.05) 61.89%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(35.36% 88.78% at 5.88% 5.79%, rgba(11, 34, 238, 0.08) 0%, rgba(111, 55, 230, 0.08) 34.73%, rgba(255, 255, 255, 0.04) 61.89%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(89% 141.42% at 0% 0%, rgba(90, 150, 243, 0.10) 0%, rgba(163, 106, 221, 0.10) 36.22%, rgba(255, 255, 255, 0.05) 72.11%, rgba(255, 255, 255, 0.00) 100%), #000);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;

}

.container, .title, .profile, .profile__work, .profile__cv, .contact, .container__main-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.container__main-content{
    gap: 30px;
}

.container{
    gap: 30px;
    padding-bottom: 30px;
}

.title{
    gap: 5px;
}

.title__name{
    font-family: 'Jaldi', sans-serif;
    font-size: 9.0rem;
    line-height: 6.5rem;
    text-align: center;
    padding-top: 20px;
    
  
}

.title__job, .title__job>b, .title__job>a{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    color: #fafafa;
}

.title__job>b{
    font-weight: 700;
}

.profile{
    gap: 20px;
}

.profile__work{
    gap: 10px;
}

button{
    width: 220px;
    height: 48px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

.button{
    width: 220px;
    height: 48px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    display: grid;
    place-content: center;   
}

.primary-button{
    background: var(--primary-button--normal);
}

.primary-button:hover{
    background: var(--primary-button--hover);
}

.secundary-button{
    border-radius: 16px;
    border: 1px solid #A36ADD26;
    background: var(--not-black, #202020);
}

.secundary-button:hover{
    background: var(--secundary-button--hover);
}

a{
    text-decoration: none;
}

.button>a{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}

.button__text{
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
}


.contact>p, .contact>p>b{
    font-size: 1.5rem;
    color: #fafafa;
}

@media (min-width:720px){
    .container__main-content{
        flex-direction: row;
        gap: 90px;
        padding-bottom: 100px;
        
    }

    .button{
        width: 300px;
        height: 6rem;
    }

    .title__name{
        font-family: 'Jaldi', sans-serif;
        font-size: 14.0rem;
        line-height: 10rem;
        text-align: left;
    }

    .contact{
        flex-direction: row;
        gap: 5px;
        position: absolute;
        bottom: 10%;
        color: #fafafa;
    }

    .contact>p, .contact>p>b{
        font-size: 2.2rem;
    }

    .title__job, .title__job>b, .title__job>a{
        font-size: 3.2rem;
        line-height: 3rem;
        text-align: left;
        font-weight: 400;
        text-decoration: none;
        color: #fafafa;
    }

    .title{
        align-items: flex-start;
    }

    .title__job>b{
        font-weight: 700;
    }
}

@media (max-width: 719px){
    .contact{
        max-width: 240px;
        text-align: center;
    }
}