body{
    background-size: 100% 100%;
    background-image: var(--background-gradient);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    overflow-y: hidden;
}

h2,h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

h2{
    font-size: 5.6rem;
    line-height: 5.6rem;
}

h3{
    color: var(--not-black);
    font-size: 3.2rem;
    font-style: normal;
    line-height: 100%;
}

h6,p{
    font-family: Lato;
    font-style: normal;
    
}

p{
    color: var(--not-black);
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

h6{
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 300;
}

h6>b{
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 500;  
}

.main-section, .designs-section{
    display: flex;
    flex-direction: column;
    
}

.container{
    display: flex;
    flex-direction: column;
    gap: 240px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 8.0rem 1rem;
    overflow-y: scroll;
    align-items: center;
}

.container::-webkit-scrollbar {
    display: none;
}


.main-section{
    gap: 32px;
    width: 100%;
    max-width: 960px;
}

.main-section__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.main-section__text>h6{
    font-family: "Inter", sans-serif;
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 300;
    line-height: 3.2rem; /* 160% */
    color: var(--not-black);
}

.main-section__text>h6:nth-child(4){
    color: var(--not-black);
}

.designs-section{
    gap: 240px;
    width: 100%;
    max-width: 960px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 920px;
    align-items: center;
    gap: 56px;
    color: var(--not-black);
}

.card>img{
    width: 380px;
}

.card__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
    flex: 1 0 0;
}

.card-chips{
    display: flex;
    align-items: center;
    gap: 8px;
}

.chip{
    display: flex;
    height: 2.4rem;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    border: 1px solid #07233F;
    background: #081828;
    backdrop-filter: blur(2px);

    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem; /* 133.333% */
    letter-spacing: 0.25px;
}

.chip-personal{
    background-color: #7828C8;
}

.read-it{
    display: flex;
    height: 40px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 1px solid #A36ADD;
    background: #202020;
    text-decoration: none;
}

.read-it:hover{
    background-color: #A36ADD;
}

.read-it>h4{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-wip{
    color: var(--not-black);
}

@media (max-width: 480px){


    .container{
        padding: 6rem 2rem;
    }
    .card{
        flex-direction: column-reverse;
        gap: 3.2rem;
    }
    .card>img{
        width: 80%;
    }
}